main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    background-color: rgb(102, 102, 102,0.8);
    width: 60%;
    height: 50%;
    border-radius: 15px;
    font-size: 25px;
}
p{  
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Love Ya Like A Sister', cursive;

}
a button{
    margin-top: 230px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 20px;
    width: 100px;
    height: 50px;

}
a:link{text-decoration: none;}
a button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 23px;
    width: 100px;
    height: 50px;

}