main{
    width: 100%;
    height: 100%;
}
.escolha{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 50px;
    font-family: 'Love Ya Like A Sister', cursive;

}
div{
    display: flex;
    justify-content: center;
    background-color:rgb(77, 77, 255,0.7);
    margin: 30px;
    width: 200px;
    height: 350px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    
}
div:hover{
    background-color:rgb(77, 77, 255,0.9) ;
}

h2{
    display: flex;
    justify-content: center;
    padding: 20px;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 50px;
    width: 150px;
    height:140px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
}
a:link{text-decoration: none;}
a {
    color: black;
    font-family: 'Love Ya Like A Sister', cursive;


}
#kage{
    background-color: rgb(89, 89, 89,0.7);
}
#kage:hover{
    background-color: rgb(89, 89, 89,0.9);
}
#daida{
    background-color: rgb(255, 255, 0, 0.7);
}
#daida:hover{
    background-color: rgb(255, 255, 0, 0.9);
}
.força{
    list-style: url("https://img.icons8.com/ios/20/000000/battle.png");
}
.agilidade{
    list-style: url("https://img.icons8.com/ios-glyphs/20/000000/rabbit.png");
}
.conhecimento{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/knowledge-sharing.png");

}