body{
    background-image: url(../img/daidaWinner.jpeg);
    background-attachment: fixed;
    background-size: cover;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    background-color: rgb(102, 102, 102,0.1);
    
    width: 70%;
    height: 60%;
    border-radius: 15px;
    font-size: 100px;
}
p{  
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;

}
a button{
    margin-top: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 20px;
    width: 140px;
    height: 80px;
    border-radius: 10px;
}
a:link{text-decoration: none;}
h1{
    
    font-size: 35px;
    margin-left: 5px;
    width: 40%;
    font-family: 'Love Ya Like A Sister', cursive;
}
p{  color: black;
    padding: 0px;
    margin-top: 80px;
    text-align: justify;
    margin-right: 20px;
}